{% extends 'base.html' %}
{% block content %}

<h1>강의평가 -> 선택</h1>
{{elective_detail.title}}
{{elective_detail.pub_date}}
{{elective_detail.field}}
{{elective_detail.score}}
{{elective_detail.body}}<br>


<form action="{% url 'e_comment_create' elective_detail.id %}" method=POST>
    {% csrf_token %}
    <input type="text" name="text">
    <button type="submit">제출</button>
</form>

{% for vv in elective_detail.comments.all %}
<div class="comment">
    <div class="date">{{ vv.created_date }}</div>
    <p>{{ vv.text|linebreaks }}</p>
    <a href="{% url 'e_comment_delete' elective_detail.id vv.id %}">삭제</a>
    <a href="{% url 'e_comment_edit' elective_detail.id vv.id %}">수정</a>
</div>
{% empty %}
    <div class="comment-list">
        <p>작성된 댓글이 없습니다!</p>
    </div>
{% endfor %}


<a href="{% url 'elective_delete' elective_detail.id %}">삭제</a> 
<a href="{% url 'elective_edit' elective_detail.id %}">수정</a>

{% endblock %}