{% extends 'base.html' %}
{% block content %}
<head>
  <style>
    .jumbotron{
      background: linear-gradient(to right, #457fca,#5691c8);
    }
    .about {
      background-color:  #cfeef3;
    }
    #month{
      color:240b36;
    }
    .card{
      margin:10px 0px 10px 0px;
      width:100%;
      height:130px;
    }
    #look-around{
      font-family: 'InkLipquid';
      font-size: 20px;;
    }
  </style>
</head>
<body>
  <div  style = "width: 100%; " class="jumbotron p-4 p-md-5 text-white rounded">
      <div >
        <h2 class="display-4">언제나 어디든 손쉽게!</h2><br>
        <p class="lead ">학교를 지키는 기둥같은 당신, 바로 학교의 주인공입니다!<br><br>
          우리학교의 모두가 행복한 주인공이 될 수 있도록 소중한 강의평가를 남겨주세요!</p>
        <p class="lead mb-0"></p>
      </div>
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4  border-bottom">
          <small id="look-around">둘러보기 ↓ ↓</small>
        </h3>
  
        <div class="blog-post">
          <h2 class="blog-post-title">최근 후기</h2>
          <small><p class="blog-post-meta">최근에 씌어진 수강후기를 읽어보세요!</p></small>
          
            {% for a in new.all %}
            <div class="card">
              <div class="card-body">
            title: {{a.title}}<br>
            {{a.pub_date}}<br>
            영역: {{a.field}} / 평점: {{a.score}}<br>
            {{a.short}}<a href="{% url 'new_detail' a.id %}">...</a><br><br>
              </div>
            </div>    
            {% endfor %}
            <a href="{% url 'new' %}" class="btn btn-light" id="more">more</a>    
      </div>
        <hr style="height:10px; margin: 25px;;">
        <div class="blog-post">
          <h2 class="blog-post-title">인기 강의</h2>
            <small><p class="blog-post-meta">높은 평점을 받은 '꿀'강의를 찾아보세요! </p></small>
              {% for b in popular.all %}
              <div class="card">
                <div class="card-body">
                title: {{b.title}}<br>
                {{b.pub_date}}<br>
                영역: {{b.field}} / 평점: {{b.score}}hh<br>
                {{b.short}}<a href="{% url 'popular_detail' b.id %}">...</a><br><br>
                </div>
              </div>
              {% endfor %}
              <a href="{% url 'popular' %}" class="btn btn-light" id="more">more</a>
        </div>
      </div>

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 rounded about">
        <h4 class="font-italic">About</h4>
        <p class="mb-0"> 하<em>하</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="{% url 'empty' %}" id="month">January 2020</a></li>
          <li><a href="{% url 'February' %}" id="month">February 2020</a></li><br>
          
          <li><a href="{% url 'empty' %}" id="month">December 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">November 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">October 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">September 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">August 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">July 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">June 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">May 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">April 2020</a></li>
          <li><a href="{% url 'empty' %}" id="month">March 2020</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="https://github.com/" target="_blank" id="elese">GitHub</a></li>
          <li><a href="https://twitter.com/" target="_blank" id="elese">Twitter</a></li>
          <li><a href="https://www.facebook.com/" target="_blank" id="elese">Facebook</a></li>
        </ol>
      </div>
    </aside>
  {% endblock %}
    </div>
  </main>
</body>